nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
a{
    text-decoration: none;
    color: black;
}
input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color:red;
    background-color:pink;
    font-size: 30px;
}
::-webkit-input-placeholder{
    color: blue;
    font-weight: bold;
    /* text-align: center; */
}
#logo{
    font-family: "Helvetica Rounded","Arial Rounded MT Bold",Arial,sans-serif;
    font-weight: bold;
    font-size:54px ;
    margin-left: 150px;
    
}
#body-text{
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 150px;
    
}


#sec1{
   
    height: 300px;
    background-color: #d72638;
    color: white;
    border-radius: 10px;
    display: flex;                
    justify-content: space-between;
    align-items: center;            
    padding: 40px;                 
    
}
#icons{
    height: 300px;
    display: flex;                
    justify-content: space-between;
    align-items: center;            
    padding: 40px;      
    background-color: aqua;
    border-radius: 10px;      

}
.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 300px;
  border-radius: 10px;
  background-color:rgb(201, 94, 144);
}
.pizza {
  background: white;
  border-radius: 10px;
  text-align: center;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.pizza img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.card h3 {
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #555;
}

.card hr {
  margin: 10px 0;
}

.sizes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.sizes span {
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 12px;
  font-size: 12px;
}

.sizes .selected {
  background: yellow;
  font-weight: bold;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.order-btn {
  background: #e63946;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}

/* .card.active {
  border: 2px solid #ccc;
} */

#last{
    background-color: rgb(161, 216, 216);
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}
/* #last2{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
} */